## data science tools and ecosystem

 ### introduction

in this notebook,data science tools and ecosystem are summarized:

some of the popular languages that Data Scientists use are:
1. python
2. sql
3.  r
4. julia
5.  ml

### data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. pytorch
5. scipy

|data science tools|
|------|
|SAS|
|Apache hadoop|
|tensor flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objective__
* list popular languages for data science
* list popular libraries for data science
* lit of well known data science tools
* how to provide comments in cell

## Author

Lakshmi holla